.account-icon {
    
    div {
        max-height: 50px;
        max-width: 50px;
        overflow: hidden;
        border-radius: 25px;

        img {   
            max-width: 50px;
            max-height: 50px;
        }
    }
}