$screen-sm: 480px;

// Small tablets (portrait view)
$screen-md: 600px;

// Tablets and small desktops
$screen-lg: 960px;

// Large tablets and desktops
$screen-xl: 1280px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl}) {
        @content;
    }
 }